<div class="form-container">
    <button type="button" (click)="resetForm()" class="add-new-btn">
        Add New Source
    </button>

    <h2>{{ selectedValuationSource.valuationSourceID === 0 ? 'Add New' : 'Update' }} Valuation Source</h2>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="valuation-source-form">
        <label for="valuationSourceName">Name:</label>
        <input id="valuationSourceName"
               type="text"
               name="valuationSourceName"
               [(ngModel)]="selectedValuationSource.valuationSourceName"
               required
               #valuationSourceName="ngModel" />

        <!-- Error message will only show when form is submitted and is invalid -->
        <div *ngIf="form.submitted && valuationSourceName.invalid" class="error-message">
            <div *ngIf="valuationSourceName.errors && valuationSourceName.errors['required']">
                Source Name is required.
            </div>
        </div>

        <button type="submit"  class="submit-btn">
            {{ selectedValuationSource.valuationSourceID === 0 ? 'Save' : 'Update' }}
        </button>
    </form>
</div>
